.card-container {
  display: inline-block;
  white-space: normal;
  height: 29rem;
  width: 22rem;
  text-align: center;
}

.slider {
  border: 2px solid white;
  border-radius: 25%;
  height: auto;
  width: 20rem; 
  margin: 0 1rem; 
}
