.header {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 3rem .5rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo{
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a{
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  transition: 0.3s ease;
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: #FF6666;
  transition: .3s
}

.navbar a:hover{
  color: #FF6666;
}

.navbar a:hover::before{
  width: 100%
}